body, h1 {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: whitesmoke;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 420px;
}

.game-info {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 32px;
}

.Box {
  margin: 5px;
  padding-bottom: 5px;
  border: 3px solid blue;
  background-color: darkblue;
  color: #fff;
  height: 32px;
  vertical-align: 10px;
  cursor: pointer;
  border-radius: 2px;
}

.Box:hover {
    background: black;
    opacity: 0.9;
    transform: scale(1.1);
    transition-duration: 0.1s;
}

h1 {
  text-align: center;
}